body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/* Heights */
nav.navbar {
  height: 10vh;
}
.content {
  height: 45vh;
}
.topics-button {
  height: 45vh;
}
